header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--paddingY) var(--paddingX);

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    font: var(--text-lg);
    list-style: none;

    & .explorer {
      display: flex;
      gap: 0.5rem;

      &:hover {
        cursor: pointer;

        & a {
          color: var(--brand-color);
          border-bottom: 1px solid;
        }
        
        & svg path {
          fill: var(--brand-color);
        }
      }
    }

    & a {
      display: flex;
      align-items: center;
      /* margin-bottom: 0; */

      &:hover {
        color: var(--brand-color);
        border-bottom: 1px solid;
      }
    }

    & .profile {
      width: 2.5rem;
      height: 2.5rem;

      object-fit: cover;

      border-radius: 50%;
    }
  }
}

@media (width >= 38.75rem) {
  :root {
    --paddingX: 2rem;
    --paddingY: 1.25rem;
  }
}
